@import "../../styles_global/fonts";
.layout {
	min-height: 100vh;
	display: flex;
	align-items: stretch;
	flex-direction: column;
	font-family: $TEXT_FONT;
}
@media (max-width: 1150px) {
	.header {
		margin: 0 50px;
	}
}
@media (max-width: 500px) {
	.header {
		margin: 0 10px;
	}
}
