@import "../../../../styles_global/animations", "../../../../styles_global/colors",
	"../../../../styles_global/popup.scss";
.recipe_ingredients_popup {
	z-index: 999;
	width: 350px;
	&_close {
		width: 100%;
		display: flex;
		justify-content: flex-end;
		cursor: pointer;
	}
	&_message {
		display: grid;
		place-items: center;
		gap: 5px;
		padding-bottom: 20px;
		color: $SHADOW_COLOR_HOVER;
		a {
			color: $BUTTON_COLOR;
			&:hover {
				color: $BUTTON_COLOR_HOVER;
			}
		}
	}
}
