@import "../../../styles_global/fonts", "../../../styles_global/colors";
.recipe_ingredients {
	&_title {
		font-family: $TITLE_FONT;
		font-size: 30px;
	}
	&_section {
		margin-top: 20px;
		display: flex;
		flex-direction: column;
		gap: 10px;
		&_title {
			font-weight: bold;
		}
		ul {
			display: flex;
			flex-direction: column;
			gap: 10px;
		}
		&_component {
		}
	}
}
