@import "../../../styles_global/fonts";
@import "../../../styles_global/colors";
.categorie {
	display: flex;
	flex-direction: column;
	gap: 20px;
	&_title {
		font-family: $TITLE_FONT;
		font-weight: bold;
		font-size: 30px;
	}
	&_recipes {
		width: 100%;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 10px;
		&_recipe {
			position: relative;
			max-width: 200px;
			min-height: 270px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			gap: 10px;
			border: 1px solid $BORDER_COLOR;
			border-radius: 5px;
			overflow: hidden;

			img {
				width: 100%;
				min-height: 200px;
				object-fit: cover;
				border-radius: 5px 5px 0 0;
				transition: 0.3s ease-in;
			}
			&_description {
				width: 100%;
				height: 100%;
				padding: 3px 5px;
				transition: 0.3s ease-in;
				svg {
					width: 15px;
				}
				&_name {
					font-weight: bold;
				}
			}
			&:hover {
				img {
					min-height: 100%;
				}
				.categorie_recipes_recipe_description {
					opacity: 0;
				}
			}
		}
	}
}

@media (max-width: 430px) {
	.categorie_recipes {
		gap: 20px;
		&_recipe {
			width: 100%;
			height: 300px;
			img {
				height: 100%;
			}
			&_description {
				height: fit-content;
			}
		}
	}
}
