@import "../../styles_global/colors";

.categorie-page {
	min-height: calc(100vh - 120px);
	&_title {
		width: 100%;
		height: 70px;
		margin-bottom: 30px;
		border-bottom: 1px solid $SHADOW_COLOR;
		display: flex;
		align-items: center;
	}
}
