@import "../../styles_global/fonts", "../../styles_global/colors", "../../styles_global/animations";
h2 {
	font-family: $TITLE_FONT;
	font-size: 30px;
}
.profile {
	margin-top: 100px;
	min-height: calc(100vh - 180px);
	display: flex;
	flex-direction: column;
	&_title {
		width: 100%;
		display: flex;
		justify-content: space-between;
		height: 70px;
		border-bottom: 1px solid $SHADOW_COLOR;
		button {
			height: fit-content;
			padding: 10px 20px;
			background-color: $BUTTON_COLOR;
			color: white;
			border-radius: 5px;
			transition: $BUTTON_TRANSITION;
			&:hover {
				background-color: $BUTTON_COLOR_HOVER;
			}
		}
	}

	&_logo {
		width: 100%;
		display: flex;
		align-items: center;
		gap: 10px;
		padding: 30px 0;
		span {
			font-size: 25px;
		}
	}
	&_conteiner {
		display: flex;
		height: 100%;
		max-width: 620px;
		align-items: flex-end;
		justify-content: space-between;
		flex: 1 0 auto;
		.sign-out-button {
			width: fit-content;
		}
		&_delete-button {
			background-color: transparent;
			color: $BUTTON_COLOR;
			&:hover {
				color: $BUTTON_COLOR_HOVER;
			}
		}
	}
}
