@import url("https://fonts.googleapis.com/css2?family=Fuggles&family=Inter:wght@300;400;700&family=Playfair+Display&display=swap");
$LOGO_FONT: "Fuggles";
$TITLE_FONT: "Playfair Display";
$TEXT_FONT: "Inter";
