@import "../../../styles_global/popup.scss", "../../../styles_global/colors";
.confirmation-popup {
	padding: 10px 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	&_title {
		font-size: 20px;
		font-weight: bold;
		color: $SHADOW_COLOR_HOVER;
	}
	&_text {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 3px;
		color: $SHADOW_COLOR;
		text-align: center;
	}
	&_btn-block {
		margin-top: 10px;
		width: 100%;
		display: flex;
		justify-content: space-around;
	}
	&_btn {
		padding: 5px 15px;
	}
	a {
		display: flex;
		align-items: center;
	}
}
